.nav-container {
  background-color: #79ad6a;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.anchor-nav {
  color: #684236;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 2rem;
}

.item-list-container {
  padding: 0.5rem;
  background-color: #684236dc;
  border-radius: 4px;
  text-align: center;
}

.item-list-container h2 {
  color: #000000;
  font: unset;
  text-align: center;
  margin-bottom: 1rem;
}

.products-section {
  padding: 2rem;
}

.products-title {
  margin-bottom: 1.5rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.card {
  height: 220px;
  border-radius: 12px;
  background-color: #684236dc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
